@font-face {
    font-family: 'Book';
    src: url('Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar{
    width: 390px;
    min-width: 390px;
    background-color: #f4f4f4;
    height: 89vh;
    padding: 30px;
    margin: 10px;
    border-radius: 16px;
    position: relative;
}
body{
    background-color: #dfdfdf;
}
.headline{
    font-size: 2em;
    margin-top: 20px;
    font-family: 'Bold';
    color: #161616;
    margin-bottom: 0px;
}
.label{
    font-size: 1.05em;
    line-height: 1.3em;
    font-family: 'Book';
    color: #303030;
}
.card{
    margin: 20px;
    width: 350px;
    height: 400px;
}
.content{
    padding: 30px;
    background-color: #eeeeee;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 89vh;
    margin: 10px;
    border-radius: 16px;
}

.img_poster{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}
.avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
/* Styling the scrollbar */
.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    background-color: #cbcbcb;
    border-radius: 100px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 100px;
}

h3{
    font-size: 1em;
    font-family: 'Book';
    color: #404040;
    margin-bottom: 0px;
}
span{
    font-size:1em;
    font-family: 'Bold';
    color: #404040;
}
.open{
    font-size: 1em;
    font-family: 'Medium';
    color: #404040;
    border: 2px solid #404040;
    border-radius: 100px;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
}
.contact{
    cursor: pointer;
    font-size: 1em;
    font-family: 'Medium';
    color: #fff;
    background-color: #161616;
    border: none;
    padding: 12px 30px;
    border-radius: 100px;
    margin: 10px 0px;
}

li{
    list-style: none;
    font-size: 1em;
    font-family: 'Book';
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding: 10px 0px;
    border-bottom: 2px solid #16161620;
}
li:hover{
    
    border-bottom: 52px solid #161616;
}
a{
    text-decoration: none;
    color: #161616;
}
.lang{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: #cbcbcb;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:  .4s ease-in-out;
}
.lang:hover {
    background: #a0a0a0;
    transform:rotate3d(5, 5, 5, 360deg);
}

.lgspan{
    font-size: 1em;
    font-family: 'Medium';
    color: #fff;
    margin-bottom: 0px; 
}
.arrow{
    transition: .2s linear;
}
li:hover .arrow{
    transform: scale(1.4) rotate(45deg);
}



.box{
    border-radius: 12px;
    width: 240px;
    height: 240px;
    background-color: #161616;
}
.main{
    background-color: red;
    height: 600px;
    width: 100%;
}