@font-face {
    font-family: 'Book';
    src: url('Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar{
    width: 390px;
    min-width: 390px;
    background-color: #f4f4f4;
    height: 89vh;
    padding: 30px;
    margin: 10px;
    border-radius: 16px;
    position: relative;
}
body{
    background-color: #dfdfdf;
    padding: 0px; 
    margin: 0px;
}
.headline{
    font-size: 2em;
    margin-top: 20px;
    font-family: 'Bold';
    color: #161616;
    margin-bottom: 0px;
}
.label{
    font-size: 1.05em;
    line-height: 1.3em;
    font-family: 'Book';
    color: #303030;
}
.card{
    margin: 20px;
    width: 350px;
    height: 400px;
}
.content{
    padding: 30px;
    background-color: #eeeeee;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 89vh;
    margin: 10px;
    border-radius: 16px;
}

.img_poster{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}
.avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #cbcbcb;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 100px;
}

h3{
    font-size: 1em;
    font-family: 'Book';
    color: #404040;
    margin-bottom: 0px;
}
span{
    font-size:1em;
    font-family: 'Bold';
    color: #404040;
}
.open{
    font-size: 1em;
    font-family: 'Medium';
    color: #404040;
    border: 2px solid #404040;
    border-radius: 100px;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: none;
}
.contact{
    font-size: 1em;
    font-family: 'Medium';
    color: #fff;
    background-color: #161616;
    border: none;
    padding: 12px 30px;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: none;
}

li{
    list-style: none;
    font-size: 1em;
    font-family: 'Book';
    margin-bottom: 10px;
    transition: .3s ease-in-out;
    padding: 10px 0px;
    border-bottom: 2px solid #16161620;
}
li:hover{
    
    border-bottom: 52px solid #161616;
}
a{
    text-decoration: none;
    color: #161616;
}
.lang{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: #cbcbcb;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    transition:  .4s ease-in-out;
}
.lang:hover {
    background: #a0a0a0;
    transform:rotate3d(5, 5, 5, 360deg);
}

.lgspan{
    font-size: 1em;
    font-family: 'Medium';
    color: #fff;
    margin-bottom: 0px; 
}
.arrow{
    transition: .2s linear;
}
li:hover .arrow{
    transform: scale(1.4) rotate(45deg);
}


.cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
  }
  .ball{
    background-color: #586EEF;
    width: 20px;
    height: 20px;
    border-radius: 100px;
  }

.banner{
    border-radius: 12px;
    width: 800px;
    margin: auto;
    background-color: #f8f8f8;
    opacity: 1;
}
.project{
    height: 100vh;
    width: 100%;
}
.road{
    padding: 20px 60px;
}

.title{
    font-size: 3em;
    line-height: normal;
    font-family: 'Bold';
    margin-top: 20px;
    color: #f4f4f4;
}
.subtitle{
    font-size: 1.2em;
    font-family: 'Book';
    margin-top: -30px;
    color: #f1f1f1;
}
.line{
    font-size: 1.2em;
    font-family: 'Book';
    margin-top: -30px;
    color: #f1f1f1;
    opacity: 0;
}
.count{
    border: 2px solid #f1f1f140;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 2em;
    font-family: 'Book';
    text-align: center;
    width: 80px;
    justify-content: center;
}

.current_count {
    font-family: 'Book';
    color: #f1f1f1;
}

#total_count {
    font-family: 'Book';
    color: #d2d2d2;
}